:root{
    --base-color: white;
    --text-color: black;
}

.darkmode {
    --base-color: #222;
    --text-color: white;
}

@font-face {
    font-family: "Pixel";
    src: url("assets/pixel_font.ttf");
}

body {
    display: flex;
    font-family: Pixel;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    background: var(--base-color);
}

#darkModeButton {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: var(--base-color);
    border: var(--text-color) 2px solid;
}

#darkModeButton:hover {
    background: rgb(130, 130, 130);
}

#darkModeButton svg:last-child{
    display: none;
}

.darkmode #darkModeButton svg:first-child{
    display: none;
}

.darkmode #darkModeButton svg:last-child{
    display: block;
}

#gameCanvas {
    cursor: none;
    display: block;
    background: #000;
    border: 10px solid transparent;
    border-image: url("assets/border.png") 30 round;
}

#startButton {
    border: none;
    display: block;
    cursor: pointer;
    color:  white;
    font-size: 20px;
    font-family: Pixel;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background: #8fc43c;
    color: var(--text-color);
    border: var(--text-color) 2px solid;
}

#startButton:hover {
    background: #218838;
}

#controls {
    display: flex;
    margin-top: 15px;
    align-items: center;
    flex-direction: column;
}

#controls div {
    display: flex;
    justify-content: center;
}

#controls button {
    margin: 5px;
    width: 70px;
    height: 70px;
    border: none;
    font-size: 30px;
    background: #444;
    border-radius: 10px;
    color: var(--text-color);
}
